
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: grey;
}
#logoNav{
    margin-left: -390px;
}
body{
    color: #514b64;
    min-height: 100vh;
}