<ul>
    <li><a class="active">Home</a></li>
    <li><a [routerLink]="'/add'">Add</a></li>
    <li><a [routerLink]="'/timeline'">Timeline</a></li>
</ul>
<div>
<div  class="text-center ">

   <h1>
    Welcome to Linkit-Up Dashboard <br>
    Were we make sure your future is our first priority

   </h1>
   <hr>
</div>
   <div class="col-12 narrow jumbotron text-center" style="margin: 30px; border-bottom: 1px solid black;">
       <header >
          <h3>Our Vision</h3> 
       </header>
       <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
           Cumque nulla sapiente excepturi quis labore sit, suscipit, <br>
           quae veniam dolor sint alias <br>
           architecto perspiciatis delectus minus accusamus! <br>
           Aliquam, ex! Iste, quas?</p>
           <a class="btn btn-secondary btn-md" href="../add/">Add Institution</a>
       </div>
</div>


